 <!-- 3. Write an Angular JS application that can calculate factorial and compute square based on given user input.  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Calculate The Factorial & Square Calculator</title>
</head>
<body ng-app="calculatorApp" ng-controller="calculatorController">
    <h2>Calculate The Factorial & Square Calculator</h2>

    Enter a number: <input type="number" ng-model="number"><br><br>

    <button ng-click="calculateFactorial">Calculate Factorial</button>
    <button ng-click="calculateSquare">Calculate Square</button>

    <h3>Factorial: {{ factorialResult }}</h3>
    <h3>Square: {{ squareResult }}</h3>

    <script>
        var app = angular.module("calculatorApp", []);
        app.controller("calculateController", function($scope) 
        {
            $scope.calculateFactorial = function() 
            {
                let num = $scope.number;
                if (num < 0) 
                {
                    $scope.factorialResult = "Not Defined";
                } 
                else 
                {
                    let fact = 1;
                    for (let i = 1; i <= num; i++) 
                    {
                        fact *= i;
                    }
                    $scope.factorialResult = fact;
                }
            };

            $scope.calculateSquare = function() {
                $scope.squareResult = $scope.number * $scope.number;
            };

        });
    </script>

</body>
</html>